img {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}

.landing-panel {
    margin-top: 50px;
}

.landing-background {
    padding: 0px;
    margin-top: 1em;
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

.welcome {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-self: center;
    color:beige;
    margin-bottom: 0px;
}

.gym-discription {
    display: flex;
    justify-content: center;
    align-self: top;
    color:antiquewhite;
    margin: 0px;
    font-weight: bolder;
    margin-bottom: 50px;
}


.grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
    justify-content: center;
    background-color:darkgoldenrod;
}

.grid-item {
    width: 200px;
    height: auto;
    align-self: center;
}

#class-title {
    color: black;
}
.class-link {
    background-color: darkgoldenrod;
    color: black;
    display: flex;
    justify-content: center;
    font-size: large;
}

.eq-grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    justify-content: center;
}

.amenities-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    justify-content: center;
    background-color: darkgoldenrod;
    color: black;
}

.connect {
    margin: 10px;
}

.form-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#submit_or_die {
    background-color: gold;
    color: black;
    width: 150px;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

#submit_or_die:hover {
    background-color: goldenrod;
}
