img {
    padding: 0px;
    margin: 0px;
    width: 350%;    
    height: auto;
}

.sign-out-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    gap: 10px;
    justify-content: space-around;
    margin-top: 50px;
}


.sign-out-item {
    width: 200px;
    height: auto;
    align-self: center;
}

.main-sign-in {
    display: flex;
    flex-direction: row;
    justify-self:flex-end;
    justify-content: center;
    margin-right: 100px;
}
.leaving {
    margin: 30px;
    padding: 30px;
}

#continue {
    margin-top: 20px;
    background-color: gold;
    color: black;
    width: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#continue:hover {
    background-color: goldenrod;
}

