* {
    /* border: 1px solid red; */
    font-family:'Times New Roman', Times, serif;
    color:navajowhite;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: midnightblue;
    height:max-content;
}

nav {
    border: 2px solid darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: midnightblue;
    font-family:'Times New Roman', Times, serif;
    color:blanchedalmond;
    position: fixed;
    top: 0px;
    height: 60px;
    margin: 0px;
}

.nav-container {
    border: 2px solid goldenrod;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    font-family:'Times New Roman', Times, serif;
    color:lavender;
}

.background{
    z-index: -1;
    width:fit-content;
}

.landing-background{
    z-index: -1;
    position: absolute;
    display: flex;
    flex-grow:initial;
    width: 100%;
    height: auto;
    justify-content: center;

}

.welcome{
    margin:65px;
}

.grid-container {
    display: grid;
    align-content: top;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
    justify-content: center;
    background-color:transparent;
    height:300px;
    width: 100%;
}

.grid-item {
    width: 200px;
    height: auto;
    justify-self: center;
    align-self: center;
}

/* .class-link {
    background-color: darkgoldenrod;
    color: black;
    display: flex;
    justify-content: center;
    font-size: large;
}

.projects {
    background-color: olive;
    height:fit-content;
    width: 100%;
    
} */

/* Footer not displaying at bottom of all pages. */
/* Might be due to image sizes */
.footer-container {
    width: 100vw;
    background-color: rgb(52, 52, 52);
    position:static;
    bottom: 0;
    left: 0;
    align-self: bottom;
    align-items: bottom;
    align-content: bottom;
    display: flex; 
}

#CAV_img{
    /* z-index: -1; */
    width: 50px;
    position: absolute;
    display: flex;
    flex-grow:initial;
    height: 50px;
    justify-content: center;
}

.footer-container {
    margin: 20px;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns:50% 50%;
    gap: 10px;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-self: center;
}


