* {
    /* border: 1px solid red; */
    font-family: fantasy;
    color: goldenrod;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: darkgreen;
    height:max-content;
}

nav {
    border: 2px solid goldenrod;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: darkgreen;
    font-family: fantasy;
    color: goldenrod;
    position: fixed;
    top: 0px;
    height: 60px;
    margin: 0px;
}

.nav-container {
    border: 2px solid goldenrod;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    font-family: fantasy;
    color: goldenrod;
}


/* Footer not displaying at bottom of all pages. */
.footer {
    width: 100vw;
    background-color: rgb(52, 52, 52);
    /* position:static;
    bottom: 0;
    left: 0; */
    /* align-self: bottom;
    align-items: bottom;
    align-content: bottom;
    display: flex;  */
}



.footer-container {
    margin: 20px;
    width: 100%;
    height: auto;
    display: grid;
    justify-content: space-around;
    grid-template-columns:50% 50%;
    gap: 10px;    
    align-self: bottom;
    align-items: bottom;
    align-content: bottom;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-self: center;
}

#legal {
    margin-left: 20px;
}
