* {
    /* border: 1px solid red; */
    font-family: Roboto; 
}

/* @font-face {
    font-family: 'Roboto';
    font-style:normal;
    font-weight: 200;
    src: static/roboto; /* Not correct source? Seems to work though. */
  /* } */ 

body {
    padding: 0px;
    margin: 0px;
}

nav {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: whitesmoke;
    font-family: fantasy;
    color: darkgray;
    position: fixed;
    top: 0px;
    height: 60px;
    margin: 0px;
}

.nav-title {
    padding: 0px;
    margin-right: 100px;
    color: white;
    background-color: black;
    display: flex;
    align-self: center;
    justify-self: left;
}

#navmenu {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: small;
    margin: 1px;
    padding: 5px;
    display:flex;
    justify-self: space-evenly;
    align-self: center;
}


#background_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
}

.background {
    z-index: -1;
    width: 100%;
}

#featured {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0px;
    position: absolute; /* Needed to have text on top of background */
    color: white;
    font-weight: lighter;
    font-size: 60px;

}

#month {
    border: 1px solid gray;
    background-color: lightgray;
    width: 650px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px;
    padding-left: 30px;
    margin-top: 40px;
}

#shows {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.show-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.show {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 5px;
    margin: 10px;
}

.raisin-image {
    height: 150px;
    width: auto;
    margin-top: 30px;
}

#show-details {
    padding: 5px;
    margin: 10px;
}

#raisin-button {
    background-color: goldenrod;
    border: 1px solid black;
    height: 50px;
    width: 200px;
    align-self: center;
    text-decoration: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.raisin-button-text {
    text-decoration: none;
    color: white;
}

.horiz {
    width: 600px;
}

.bottom {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 50px;
}

.map {
    align-self: center;
}

.mapimg {
    width: auto;
    height: 150px;
}

.fab {
    color:white;
    text-decoration: none;
}

.tiny {
    color: white;
    text-decoration: none;
    font-size: small;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}


a {
    color: white;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.fas{
    color:darkgoldenrod;
    font-size: x-large;
}

.far{
    color:darkgoldenrod;
    font-size: x-large;
}